@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,400&family=Open+Sans&display=swap');
* {
    font-family: 'Lora', serif;
    
}

@media only screen and (max-width: 768px) {
    .menu-btn {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    #header-menu {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    #header-menu li:not(:first-child) {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #menu-toggle-btn {
        display: none;
    }

    .menu-btn {
        margin-right: 16px;
    }
}

#menu-toggle-btn {
  background-color: #c8ac48; /* цвет кнопки */
  color: #fff; /* цвет текста */
  padding: 10px 20px; /* размеры полей */
  border-radius: 25px; /* радиус закругления */
  cursor: pointer; /* вид курсора при наведении */
  transition: all 0.3s ease;
}

#menu-toggle-btn.active {
  background-color: #fff; /* цвет кнопки */
  color: #c8ac48; /* цвет текста */
  box-shadow: 0 2px 4px rgba(200, 172, 72, 0.5); /* тень */
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    padding: 0.6rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.menu-btn {
    display: inline-block;
    user-select: none;
    font-size: 1.2rem;
    transition: all 0.2s ease;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.menu-btn a {
    text-decoration: none;
    color: #000; 
}

.active a, .menu-btn a:hover {
    background-color: #c8ac48;
    color: #fff;
    transition: all 0.2s ease;
    border-radius: 25px;
}

/* html {
    font-family: 'Lora', serif;
}

@media only screen and (max-width: 768px) {
    .menu-btn {
        display: block;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .menu-btn {
        display: inline;
        margin: 0 16px 0 0;
        user-select: none;
    
        cursor: pointer;
    }
}


header {
    display: flex;
    justify-content: center;
    
    background-color: #fff;
    padding: 2.5rem 0;
}



.menu-btn a {
    text-decoration: none;
    color: #000; 
}

.active a, .menu-btn a:hover {
    color: #c8ac48;
    transition: All 0.2s ease;
}
 */
