.viber {
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 4px 2px 14px 0 #00000085;
}

#divViber {
    display: flex;
    justify-content: right;
    bottom: 0;
    width: 100%;
    margin: 0 -25px 30px;
    position: fixed;
    transform: translate(0%, 20%);
    align-items: center;
}

.viber-p {
    background-color: #fafafa;
    padding: 1vh 1vh;
    border-radius: 10px;
    box-shadow: 4px 2px 14px 0 #00000085;
    transform: translate(-10%, 0%);
}

.viber:hover {
    opacity: 0.95;
}

#triangle {
    position: fixed;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid white;
    rotate: 90deg;
    transform: translate(0%, 530%);
}